@import 'vars';

* {
  list-style-type: none;
}
.App {
  padding: 15px;
}
.App-title {
  text-align: center;
  font-family: 'Lemon', cursive;
}
.App-List {
  display: flex;
  flex-wrap: wrap;
}
 .App-card {
   width: 150px;
   padding: 10px;
   border: 1px solid $color-dark;
   background-color: $color-medium;
   border-radius: 10px;
   margin: 10px;
   text-transform: capitalize;
   cursor: pointer;
 }
.App-img {
  width: 80px;
  height: 80px;
}
.App-box {
  border: 1px solid $color-dark;
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
}